<!DOCTYPE html>
<html>
  <center>
    <a href="/about">About</a>
    <a></a>
    <a></a>
    <a></a>
    <a href="/users">User Management</a>
    </center>
  <head>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2><%= title %></h2>
    <p>Welcome to <%= title %></p>
    <p>Welcome to <%= username%></p>
  
  </body>
</html>
