<!DOCTYPE html>
<html>
<button class="tablink" onclick="openPage('Home', this, 'red')">Home</button>
<button class="tablink" onclick="openPage('Users, this, 'green')" >Users</button>

<button class="tablink" onclick="openPage('About', this, 'orange')">About</button>
  <head>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2><%= title %></h2>
    <p>Welcome to <%= title %></p>
    <p>Welcome to <%= username%></p>
  
  </body>
</html>
