<!DOCTYPE html>
<html>
<<<<<<< HEAD
<center>
     <a href="/about">About</a>
     <a></a>
     <a></a>
     <a href="/users">User Management</a>
     </center>
=======
  <center>
    <a href="/about">About</a>
    <a></a>
    <a></a>
    <a></a>
    <a href="/users">User Management</a>
    </center>
>>>>>>> 78c1ceaf5525f65d930d29ebc94c6ca22ea1eef1
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>This is the message:<%= message %></p>
     <a href="/about">About us</a>
  </body>
</html>
